*{
    margin:0;
    padding:0;
    text-decoration: none;
}
html,body{
    width: 100%;
}
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
    /*background-color: #f3f3f3;*/
    background-image: url(/Alphrom/Images/landscape.jpg);
    background-size: cover;
}
.navbar {
    display:flex;
    justify-content: flex-end;
    margin:50px;
    border-color: black;
    border-style: dotted;
    /*background-color: #d3d3d3;*/
    padding:10px
    
}
.menu {
    list-style-type:none;
    padding-right: 20px
}
.menu li {
    display:inline;
    margin-left:20px
}
.menu li a { 
    margin:50px;
    padding:10px;
    text-decoration:none;
    text-transform: uppercase;
    color: rgb(127, 136, 255);
    transition: 5s
}
.menu li a:hover { 
    margin:50px;
    padding:10px;
    color:rgb(23, 24, 34);
    border-radius: 50%;
    background-color:bisque
    ;transition: 2ss;
}